Options +FollowSymlinks
RewriteEngine On

RewriteRule ^(fr|en)/assets/(.*)$ /assets/$2 [L]
RewriteRule ^$ index.php?lang=fr [L,QSA]
RewriteRule ^(fr|en)$ index.php?lang=$1 [L,QSA]
RewriteRule ^(fr|en)/(.*)$ index.php?lang=$1&p=$2 [L,QSA]
